.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.footer {
  position: fixed;
  bottom: 0;

  left: 0;
  right: 0;
  z-index: 100;
}


.main {
  overflow: auto;
  margin-top: 64px;
  height: 100%;
}
