.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 24px;

}

.card-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 0 0 0 0 ;
}
